<%= form_with(model: todo, class: "contents") do |form| %>

  <div class="flex gap-4 items-stretch">

    <%= form.label :title, style: "display: none" %>
    <%= form.text_field :title, class: "form-input", placeholder: "Add your todo!", autofocus: true %>  

    <div>
      <%= form.submit class: "button-solid" %>
    </div>

  </div>
<% end %>
