<%= form_with(model: todo) do |form| %>
  
  <div class="todo-actions">

    <%= form.label :title, style: "display: none" %>
    <%= form.text_field :title, class: "form-input", placeholder: "Add your todo!", autofocus: true %>  
    <%= form.submit "Save", class: "button-solid" %>

  </div>

<% end %>
