<% content_for :title, "Editing todo" %>

<h1>Editing todo</h1>

<%= turbo_frame_tag dom_id(@todo, :edit) do %>
  <%= render "form", todo: @todo %>
  <%= link_to "Cancel", todos_path, class: "link" %>
<% end %>

