<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1 class="font-black text-4xl mb-6">Todos</h1>

<%= render "form", todo: @todo %>

<div id="todos" class="my-4">
  <% @todos.each do |todo| %>
    <%= render todo %>
  <% end %>
</div>

